Django==4.2.25
djangorestframework==3.16.1
djangorestframework-simplejwt==5.3.1
pgvector==0.3.6
django-cors-headers==4.9.0
psycopg2-binary==2.9.9
openai==1.109.1
langchain==0.3.27
langchain-openai==0.2.8
langchain-google-genai==2.0.10
python-dotenv==1.1.1
tiktoken==0.11.0
gunicorn==23.0.0
python-json-logger==4.1.0
sentry-sdk==2.64.0
